
.root {
  position: relative;
}

.textarea-ghost {
  padding: 0.4rem;
  font-size: 1rem;
  font-family: monospace;
  width: 100%;
  border: none;
}

.textarea {
  color: blue;
  outline: 4px dashed blue;
  background-color: transparent;
  resize: none;
  overflow: hidden;
}

.ghost {
  color: red;
  outline: 4px solid red;
  z-index: -1;
  height: 100%;
  position: absolute;
}
