.root {
  display: grid;
  grid-template: 'full-single-area' 1fr / 1fr;
}

.textarea-ghost {
  grid-area: full-single-area;
  padding: 0.4rem;
  font-size: 1rem;
  line-height: 2.5;
  font-family: monospace;
  width: 100%;
  border: none;
}

.textarea {
  resize: none;
  overflow: hidden;
  z-index: -1;
}

.ghost {
  height: 100%;
}

.tag {
  outline-offset: 2px;
  outline: 1px solid green;
  border-radius: 4px;
  cursor: pointer;
}

.inline {
  display: inline;
}
