.root {
  display: grid;
  grid-template: "full-single-area" 1fr / 1fr;
}

.textarea-ghost {
  grid-area: full-single-area;
  padding: 0.4rem;
  font-size: 1rem;
  font-family: monospace;
  width: 100%;
  border: none;
}

.textarea {
  color: blue;
  outline: 4px dashed blue;
  background-color: transparent;
  resize: none;
  overflow: hidden;
}

.ghost {
  color: red;
  outline: 4px solid red;
  z-index: -1;
  height: 100%;
}