.calculator.root {
  display: grid;
  height: 100%;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template:
    'monitor monitor monitor  monitor  '
    'c       c       .        backspace'
    'num7    num8    num9     divide   '
    'num4    num5    num6     multiply '
    'num1    num2    num3     minus    '
    'num0    dot     plus     equals   ';
}

.calculator.monitor {
  grid-area: monitor;
  resize: none;
}

.calculator.backspace {
  grid-area: backspace;
}

.calculator.c {
  grid-area: c;
}

.calculator.divide {
  grid-area: divide;
}

.calculator.multiply {
  grid-area: multiply;
}

.calculator.minus {
  grid-area: minus;
}

.calculator.plus {
  grid-area: plus;
}

.calculator.equals {
  grid-area: equals;
}

.calculator.dot {
  grid-area: dot;
}

.calculator.num1 {
  grid-area: num1;
}

.calculator.num2 {
  grid-area: num2;
}

.calculator.num3 {
  grid-area: num3;
}

.calculator.num4 {
  grid-area: num4;
}

.calculator.num5 {
  grid-area: num5;
}

.calculator.num6 {
  grid-area: num6;
}

.calculator.num7 {
  grid-area: num7;
}

.calculator.num8 {
  grid-area: num8;
}

.calculator.num9 {
  grid-area: num9;
}

.calculator.num0 {
  grid-area: num0;
}
